.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  align-items: flex-end;
  text-align: left;
  background-color: #eef5e6;
  padding: 10px;
  color: black;
}

.App-header img {
  height: 80px
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
